body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  background: white;
  background-image: url("../img/background.jpg");
}

.main-container {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: flex-start;
  padding: 40px;
  background: white;
  box-shadow: 0px 0px 10px -1px #787878;
  margin-bottom: 40px;
  margin-top: 40px;
}


h1 {
  font-size: 40px;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 10px;
}

h2 {
  font-size: 28px;
  font-weight: 900;
}

h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

header p {
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 30px;

}

a {
  text-decoration: none;
}

.name {
  margin-left: 60px;
}


.photo {
  box-shadow: 0 10px 10px -10px #888;
}

.box {
  padding: 20px 40px;
  background: white;
  box-shadow: 0px 0px 10px -1px #787878;
  margin-bottom: 40px;
}

.skills-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.skills-item {
  width: 300px;

}

